<?xml version="1.0"?>
<model>
  <name>3DR Iris with triple camera Env</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_triplecam_env.sdf</sdf>

  <author>
   <name>Hong Daseon</name>
   <email>frequency331@gmail.com</email>
  </author>

  <description>
    To make professors' wish come true
  </description>
</model>
